<div id="website-home" class="container">
  <div class="website-banner">
    <h1>Hello!</h1>
    <p>Welcome to my portfolio, browse at your liesure</p>
    <i class="fa fa-caret-down"></i>
  </div>
  <div id="work-examples-container" class="row">
    <div class="col-4" *ngFor="let example of workExamples">
      <div class="work-example">
        <h3>{{example.title}}</h3>
        <p>{{example.description}}</p>
        <div class="work-example-overlay">
          <span class="external-link-wrapper wrapper--blue">
            <i class="fa fa-github"></i>
            <a href={{example.githubUrl}} target="_blank">View on github</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
