#website-home {

  background: #222;
  .website-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    > p {
      text-align: center;
      font-size: 1.6em;
      @media(min-width: 768px) {
        font-size: 2em;
        text-shadow: 4px 4px 4px black;
      }
    }
  }

  h1 {
    color: white;
    font-size: 1.8em;
    margin-bottom: 15px;
    @media(min-width: 768px) {
      font-size: 2.4em;
      text-shadow: 4px 4px 4px black;
    }
  }

  p {
    color: #CCCCCC;
    line-height: 1.5;
    margin-bottom: 15px;
    @media(min-width: 768px) {
      font-size: 1.2em;
      text-shadow: 3px 3px 6px black;
    }
  }

  i {
    color: white;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px black;
  }
}
