<div class="work-examples-container">
  <h2>Code Lab</h2>
  <div class="items-container" *ngIf="codelabExamples">
    <div class="item" *ngFor="let example of codelabExamples">
      <div class="item-image-container">
        <a href="{{example.url}}" target="_blank"><img class="item-image" src="{{example.imageUrl}}"></a>
        <span class="fa-stack fa-2x">
          <a href="{{example.githubUrl}}" target="_blank" class="fa fa-circle fa-stack-2x"></a>
          <a href="{{example.githubUrl}}" target="_blank" class="fa fa-github fa-stack-1x fa-inverse"></a>
        </span>
        <span class="fa-stack fa-2x" *ngIf="example.url != 'null'">
          <a href="{{example.url}}" target="_blank" class="fa fa-circle fa-stack-2x"></a>
          <a href="{{example.url}}" target="_blank" class="fa fa-link fa-stack-1x fa-inverse"></a>
        </span>
      </div>
      <div class="item-content-container">
        <div class="item-technologies-container" *ngIf="example.technologies">
          <div class="item-technology" *ngFor="let technology of example.technologies">
            <img src="{{technology.imageUrl}}">
          </div>
        </div>
        <h3>{{example.title}}</h3>
        <hr>
        <p>{{example.description}}</p>
      </div>
    </div>
  </div>
</div>
