<div class="main-container">
  <div class="technologies-edit-container">
    <h2 class="technologies-edit-header">Edit Technology</h2>
    <form #f="ngForm" (submit)="updateTechnology(f.value, technology._id)" class="technology-edit-form" *ngIf="technology">
      <div class="form-row">
        <label class="form-label" for="name">Technology name:</label>
        <input type="text" class="form-input" id="name" #name name="name" ngModel="{{technology.name}}">
      </div>
      <div class="form-row">
        <label class="form-label" for="imageUrl">Image url:</label>
        <input type="text" class="form-input" id="imageUrl" #imageUrl name="imageUrl" ngModel="{{technology.imageUrl}}">
      </div>
      <div class="form-row">
        <h3 class="preview-image-header">Image preview</h3>
        <img class="preview-image" [src]="imageUrl.value">
      </div>
      <div class="form-row">
        <p class="input-button input-cancel" (click)="apiService.setComponent('technologies-manage')">Cancel</p>
        <input class="input-button input-submit" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
