<div class="navbar-main-container">
  <div class="navbar" (click)="menuVisible = !menuVisible">
    <a class="fa fa-bars"></a><p class="menu-toggle">MENU</p>
  </div>
  <div class="menu-container" (window:resize)="toggleMenuVisibility()" [ngStyle]="toggleMenuVisibility()">
    <a class="fa fa-times" (click)="menuVisible = !menuVisible"></a>
    <ul class="menu-list">
      <li class="menu-item" (click)="apiService.setComponent('intro')" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" (click)="menuVisible = !menuVisible">Home</li>
      <li class="menu-item" (click)="apiService.setComponent('work-examples')" routerLinkActive="link-active" (click)="menuVisible = !menuVisible">Work Examples</li>
      <li class="menu-item" [routerLink]="['/code-lab']" routerLinkActive="link-active" (click)="menuVisible = !menuVisible">Code Lab</li>
      <li class="menu-item contact-toggle">Contact</li>
      <ul class="contact-list">
        <li class="contact-item"><a class="fa fa-phone"></a>: 07584132200</li>
        <li class="contact-item"><a class="fa fa-envelope"></a>: sjw948@gmail.com</li>
      </ul>
    </ul>
  </div>
  <div class="logo-container">
    <a class="fa fa-terminal"></a><p>Stephen</p>
  </div>
  <div class="social-container">
    <a class="fa fa-github" href="https://github.com/BGZStephen" target="_blank"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/javascriptsteve/" target="_blank"></a>
  </div>
</div>
