#website-work {
  h2 {
    color: white;
    margin-bottom: 15px;
    @media(min-width: 768px) {
      font-size: 1.2em;
      text-shadow: 4px 4px 4px black;
    }
  }
  p {
    color: #CCCCCC;
    line-height: 1.5;
    margin-bottom: 15px;
    @media(min-width: 768px) {
      font-size: 1em;
      text-shadow: 3px 3px 6px black;
    }
  }

  #work-examples-container {
    .work-example {
      align-content: flex-start;
      background: black;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      min-height: 150px;
      padding: 10px;
      position: relative;
      width: 100%;

      h3 {
        color: white;
        margin-bottom: 5px;
        width: 100%;
      }

      p {
        color: #CCCCCC;
        width: 100%;
      }

      .work-example-overlay {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        transition: 1.3s ease all;
        width: 100%;
        a {
          border: 2px solid $blue-600;
          border-radius: 5px;
          color: $blue-600;
          font-weight: bold;
          margin: 10px 0;
          padding: 8px 20px;
          position: relative;
          top: 10px;
          transition: 0.3s ease all;
          text-decoration: none;

          &:hover {
            background: $blue-600;
            color: black;
          }

          &:nth-of-type(2n) {
            border: 2px solid $green-600;
            color: $green-600;

            &:hover {
              background: $green-600;
              color: black;
            }
          }
        }

        @media(min-width: 768px) {
          background: rgba(0,0,0, 0.7);
          visibility: 0;
          opacity: 0;
          position: absolute;
          justify-content: center;
          align-items: center;
          bottom: 0;
          left: 0;
          top: 0;
          transition: 0.3s ease all, 0.5s ease top;
          right: 0;
        }
      }
    }
  }
}
