<div id="work-example-individual" class="container" ng-if="workExample">
  <h1>Work example editor - {{workExample.title}}</h1>
  <form #f="ngForm" (ngSubmit)="onUpdate(f.value)">
    <div class="row">
      <div class="col-12">
        <label>Title</label>
        <input type="text" placeholder="title" value="{{workExample.title}}">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Description</label>
        <textarea value="{{workExample.description}}"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Content</p>
      </div>
    </div>
    <div class="row" *ngFor="let section of workExample.content; let i = index">
      <select (change)="updateSectionType($event.target.value, i)" id="sectionType">
        <option value="oneColumn">One Column</option>
        <option value="twoColumn">Two Column</option>
      </select>
      <div *ngFor="let column of section.content" class="{{section.class}}">
        <input type="text" placeholder="title">
        <a class="button--danger" (click)="onRemoveSection(i)"><i class="fa fa-times"></i>Remove Section</a>
      </div>
    </div>
    <a class="button--green" (click)="onAddSection()"><i class="fa fa-plus"></i>Add Section</a>
  </form>
</div>
