<div id="work-example-individual" *ngIf="workExample" class="container">
  <h1>Work example editor - {{workExample.title}}</h1>
  <form #f="ngForm" (ngSubmit)="onUpdate(f.value)">
    <div class="row">
      <div class="col-12">
        <label>Title</label>
        <input type="text" placeholder="title" value="{{workExample.title}}">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Description</label>
        <textarea value="{{workExample.description}}"></textarea>
      </div>
    </div>
    <div class="row" *ngFor="let section of workExample.content">
      <div class="col-12">
        <input type="text" placeholder="title">
      </div>
    </div>
    <a class="button--green" (click)="addSection()"><i class="fa fa-plus"></i>Add Section</a>
    <a class="button--danger"><i class="fa fa-times"></i>Remove Section</a>
  </form>
</div>
