#work-examples-list {
  h1 {
    color: white;
    margin-bottom: 15px;
  }

  #intro-container {
    h2 {
      color: white;
      margin-bottom: 15px;
      @media(min-width: 768px) {
        font-size: 1.2em;
        text-shadow: 4px 4px 4px black;
      }
    }
    p {
      color: #CCCCCC;
      line-height: 1.5;
      margin-bottom: 15px;
      @media(min-width: 768px) {
        font-size: 1em;
        text-shadow: 3px 3px 6px black;
      }
    }
  }

  .add-work-example-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      text-align: center;
    }
    i {
      color: white;
      font-size: 1.4em;
      margin-top: -5px;
      margin-right: 20px;
    }

    h3 {
      font-size: 1.4em;
    }
  }
}
