.primary-container {
  min-height: 100vh;
  max-width: 100vw;
  background: #212121;
  position: relative;
}

.navbar-container {
  position: absolute;
  bottom: 0;
  @media(min-width: 768px) {
    position: fixed;
    bottom: auto;
    right: 0px;
  }
}

.outlet-container {

}
