<div id="site-home">
  <div class="intro-container">
    <h1>Hello,</h1>
    <p>and welcome to my portfolio. My name is Stephen Wright, an aspiring front-end developer and javascript enthusiast based in Bristol.</p>
    <p>Interesting things you'll find inside: <span class="label label--red" (click)="setComponent('work-examples')">work examples</span>, <span class="label label--purple" (click)="setComponent('code-lab')">code lab</span> and a <span class="label label--green">css workshop (WIP)</span>.</p>
  </div>
</div>
