<div class="main-container">
  <div class="intro-container">
    <h1>Hello,</h1>
    <p>and welcome to my portfolio. My name is Stephen Wright, an aspiring front-end developer and javascript enthusiast based in Bristol.</p>
    <p>Interesting things you'll find inside: <span class="work-examples" (click)="setComponent('work-examples')">work examples</span>, <span class="code-lab" (click)="setComponent('code-lab')">code lab</span> and a <span class="css-workshop">css workshop (WIP)</span>.</p>
    <p class="contact-row">If you're hiring, feel free to </p><div class="contact-toggle"><span class="contact-me">get in contact</span><span class="contact-me-alt">07584 132 200</span></div>
  </div>
</div>
