#site-navbar {
  width: 65px;
  
  .navbar-container {
    bottom: 0;
    position: fixed;

    ul {
      background: black;
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0 10px;
      width: 100vw;
      li {
        color: white;
        i {
          cursor: pointer;
          font-size: 1.4em;
          padding: 15px 10px;

          @media(min-width: 768px) {
            padding: 20px;
          }
        }

        .fa-home {
          color: $blue-800;
          @media(min-width: 768px) {
            transition: 0.3s ease all;
            &:hover {
              background: $blue-800;
              color: black;
            }
          }
        }

        .fa-code {
          color: $green-800;
          @media(min-width: 768px) {
            transition: 0.3s ease all;
            &:hover {
              background: $green-800;
              color: black;
            }
          }
        }

        .fa-flask {
          color: $orange-400;
          @media(min-width: 768px) {
            transition: 0.3s ease all;
            &:hover {
              background: $orange-400;
              color: black;
            }
          }
        }

        .fa-github {
          color: white;
          @media(min-width: 768px) {
            transition: 0.3s ease all;
            &:hover {
              background: white;
              color: black;
            }
          }
        }

        .fa-envelope-o {
          color: $purple-800;
          @media(min-width: 768px) {
            transition: 0.3s ease all;
            &:hover {
              background: $purple-800;
              color: black;
            }
          }
        }
      }

      @media(min-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        height: 100vh;
        width: auto;
      }
    }

    @media(min-width: 768px) {
      left: 0;
    }
  }
}
