<div id="site-navbar">
  <ul>
    <li [routerLink]="['/']">
      <i class="fa fa-home"></i>
      <p>Home</p>
    </li>
    <li [routerLink]="['/work']">
      <i class="fa fa-code"></i>
      <p >Work</p>
    </li>
    <li [routerLink]="['/lab']">
      <i class="fa fa-flask"></i>
      <p>Code lab</p>
    </li>
    <li>
      <i [routerLink]="['/github']" class="fa fa-github"></i>
      <p>Github</p>
    </li>
    <li>
      <i [routerLink]="['/contact']" class="fa fa-envelope-o"></i>
      <p>Contact</p>
    </li>
  </ul>
</div>
