#site-navbar {

  width: 100vw;
  
  #spinner-container {
    display: none;
  }

  ul {
    align-items: center;
    background: black;
    display: flex;
    height: 60px;
    justify-content: center;
    list-style: none;
    @media(min-width: 768px) {
      background: none;
      flex-direction: column;
      height: 100vh;
    }
  }

  li {
    text-align: center;
    width: 20%;
    p {
      display: none;
      @media(min-width: 768px) {
        color: white;
        display: inline;
        font-size: 1.6em;
      }

    }

    .fa {
      color: white;
      font-size: 1.4em;
      @media(min-width: 768px) {
        display: none;
      }
    }

    .fa-code {
      color: $green-800;
    }

    .fa-flask {
      color: $orange-400;
    }

    .fa-envelope-o {
      color: $purple-400;
    }

    .fa-linkedin {
      color: $blue-800;
    }

    @media(min-width: 768px) {
      display: flex;
      justify-content: center;
      margin: 30px 0;
      width: 100%;
    }
  }

  @media(min-width: 768px) {
    width: 250px;
  }

  @media(min-width: 1440px) {
    width: 300px;
  }
}
