<div class="main-container">
  <div class="work-example-add-container">
    <h2 class="work-example-add-header">Add Work Example</h2>
    <form #f="ngForm" (submit)="saveWorkExample(f.value)" class="work-example-add-form">
      <div class="form-row">
        <label class="form-label" for="title">Title: </label>
        <input type="text" class="form-input" id="title" #title name="title" ngModel>
      </div>
      <div class="form-row">
        <label class="form-label" for="description">Description: </label>
        <input type="text" class="form-input" id="description" #description name="description" ngModel>
      </div>
      <div class="form-row">
        <label class="form-label" for="url">Url: </label>
        <input type="text" class="form-input" id="url" #url name="url" ngModel>
      </div>
      <div class="form-row">
        <label class="form-label" for="githubUrl">Github: </label>
        <input type="text" class="form-input" id="githubUrl" #githubUrl name="githubUrl" ngModel>
      </div>
      <div class="form-row">
        <label class="form-label" for="imageUrl">Image: </label>
        <input type="text" class="form-input" id="imageUrl" #imageUrl name="imageUrl" ngModel>
      </div>
      <div class="form-row">
        <p class="work-example-type" (click)="toggleType('code-lab')" [ngStyle]="typeStyle('code-lab')">Code Lab</p>
        <p class="work-example-type" (click)="toggleType('work-example')" [ngStyle]="typeStyle('work-example')">Work Example</p>
      </div>
      <div class="form-row">
        <h3 class="preview-image-header">Image preview: </h3>
      </div>
      <div class="form-row">
        <img class="preview-image" [src]="imageUrl.value">
      </div>
      <div class="form-row">
        <h3 class="technologies-header">Technologies: </h3>
        <div class="technologies-container" *ngIf="technologies">
          <div class="technology" *ngFor="let technology of technologies" (click)="toggleTechnology(technology)">
            <img class="technology-image" src="{{technology.imageUrl}}" [ngStyle]="activeTechnologiesStyle(technology._id)">
          </div>
        </div>
      </div>
      <div class="form-row">
        <p class="input-button input-cancel" (click)="apiService.clearComponent()">Cancel</p>
        <input class="input-button input-submit" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
