<div class="navbar">
  <div class="logo-container">
    <a class="fa fa-bars"></a><h2 class="logo">Dashboard</h2>
  </div>
  <ul class="navbar-list">
    <li class="navbar-item">
      <div class="navbar-item-content-container">
        <i class="fa fa-home"></i><p>Home</p>
      </div>
    </li>
    <li class="navbar-item">
      <div class="navbar-item-content-container">
        <i class="fa fa-code"></i><p>Work Examples</p>
      </div>
    </li>
    <li class="navbar-item">
      <div class="navbar-item-content-container">
        <i class="fa fa-terminal"></i><p>Technologies</p>
      </div>
    </li>
    <li class="navbar-item">
      <div class="navbar-item-content-container">
        <i class="fa fa-css3"></i><p>CSS Workshop</p>
      </div>
    </li>
  </ul>
</div>
