#dashboard-navbar {
  background: black;
  width: 100%;
  .primary-menu {
    list-style: none;
    display: flex;

    li {
      align-items: center;
      border-bottom: 2px solid #212121;
      display: flex;
      justify-content: center;
      height: 45px;
      width: 100%;

      p,
      .fa {
        color: white;
      }

      p {
        display: none;
        font-size: 1.2em;

        @media(min-width: 768px) {
          display: inline;
        }


      }

      .fa {
        margin: 0 15px;
      }

      @media(min-width: 768px) {
        justify-content: flex-start;
      }

    }
    @media(min-width: 768px) {;
      flex-direction: column;
    }
  }

  @media(min-width: 768px) {
    height: 100%;
  }
}
