#dashboard-navbar {
  background: black;
  width: 100vw;

  ul {
    align-items: center;
    background: black;
    display: flex;
    height: 60px;
    list-style: none;
    width: 100%;
    @media(min-width: 768px) {
      background: none;
      flex-direction: column;
      height: 100vh;
    }
  }

  li {
    // text-align: center;
    width: 20%;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }

    p {
      cursor: pointer;
      display: none;
      transition: 0.3s ease all;

      &:hover {
        color: $blue-400;
      }

      @media(min-width: 768px) {
        color: white;
        display: inline;
        font-size: 1.2em;
      }

    }

    .fa {
      color: white;
      font-size: 1.4em;
      @media(min-width: 768px) {
        width: 35px;
      }
    }

    .fa-code {
      color: $green-800;
    }

    .fa-flask {
      color: $orange-400;
    }

    .fa-envelope-o {
      color: $purple-400;
    }

    .fa-home {
      color: $blue-800;
    }

    .desktop-only {
      display: none;

      @media(min-width: 768px) {
        display: inline;
      }
    }

    @media(min-width: 768px) {
      display: flex;
      margin: 15px 0;
      width: 100%;
    }
  }

  @media(min-width: 768px) {
    left: 0;
    position: relative;
    padding: 0 15px;
    width: auto;
  }
}
